@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--baseColor);
    background: var(--baseBackground);
    transition: all 1s ease;
}

:root {
    --lime-green: hsl(163, 72%, 41%);
    --bright-red: hsl(356, 69%, 56%);
    --facebook: #168ef4;
    --twitter: hsl(203, 89%, 53%);
    --instagram-1: hsl(37, 97%, 70%);
    --instagram-2: hsl(329, 70%, 58%);
    --youTube: hsl(348, 97%, 39%);
    --gray: #5f616d;
    --cardGray: #f0f3fa;
    --lightGray: #f8f9fe;
    --cardTitle: #6f717e;
    --baseBackground: white;
    --baseColor: #1d2029;
    --switchSpinner: white;
    --switch: #5f616d;
}

.wrapper {
    padding: 0 30px;
}

.grid {
    display: grid;
    grid-row-gap: 30px;
}

/* HEADER */

.header {
    background-color: var(--light-grey);
    padding-bottom: 100px;
    border-radius: 0 0 20px 20px;
    padding-top: 2em;
}

h1 {
    margin: 0;
    font-size: 1.6em;
}

.header__total {
    color: var(--gray);
    border-bottom: 1px solid var(--gray);
    margin: .5em 0;
    font-weight: 600;
    padding-bottom: 1.5em;
}

.dark-mode {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1em;
}

.checkbox {
    display: none;
}

.checkbox:checked ~ .switch:before {
    transform: translateX(0)
}

.switch {
    height: 20px;
    width: 40px;
    display: block;
    border-radius: 20px;
    background: var(--switch);
    padding: 5px;
    cursor: pointer;
    user-select: none;
}

.switch::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-color: var(--switchSpinner);
    border-radius: 50%;
    transform: translateX(20px);
    transition: .3s;
    will-change: transform;
}

/* HEADER END */

.social-media__cards {
    margin-top: -50px;
}

.card {
    border-radius: 8px;
    overflow: hidden;
    background: var(--cardGray);
    text-align: center;
    padding: 1.5em 0;
    position: relative;
}

.card::before {
    content: '';
    height: 5px;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

.card.facebook::before {
    background: var(--facebook);
}
    .card.twitter::before {
    background: var(--twitter);
}
    .card.instagram::before {
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
    .card.youtube::before {
    background: var(--youTube);
}

.card__title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cardTitle);
    font-size: .9em;
    font-weight: bold;
}

.card__title img {
    margin-right: 5px;
    color: var(--gray);
    font-size: .8em;
    font-weight: bold;
}

.card__followers-number {
    font-size: 50px;
    font-weight: 700;
}

.card__followers-title {
    display: block;
    text-transform: uppercase;
    color: var(--gray);
    letter-spacing: 5px;
    font-size: .75em;
    margin-top: 10px;
}

.card__new-followers {
    margin-top: 20px;
    color : var(--lime-green);
    font-size: .7em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__new-followers  img {
    margin-right: 5px;
}

/* OVERVIEW */

.overview {
    padding-bottom: 2em;
}

h2 {
    color: var(--gray)
}

.card__small {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1em;
    background: var(--cardGray);
    border-radius: 8px;
    padding: 1.7em;
}

.card__small p {
    margin: 0;
}

.card__small-views {
    color: var(--cardTitle);
    font-weight: bold;
    font-size: .9em;
}

.card__small-icon {
    text-align: right;
}

.card__small-number {
    font-weight: bold;
    font-size: 2.5em;
    line-height: .9;
}

.card__small-percentage {
    text-align: right;
    display: flex;
    align-items: flex-end;
    color: var(--lime-green);
    justify-content: flex-end;
    font-size: .8em;
    font-weight: bold;
}

.card__small-percentage.rate-down {
    color: var(--bright-red);
}

.card__small-percentage span {
    display: flex;
    align-items: center;
}

.card__small-percentage img {
    margin-right: 5px;
}

/* RESPONSIVE */

.is-dark-mode {
    --cardGray: #252b43;
    --baseBackground: #1d2029;
    --baseColor: white;
    --gray: #8088ad;
    --lightGray: #1d2029;
    --cardTitle: #8088ad;
    --switchSpinner: #282943;
    --switch: linear-gradient(to right, #4796d2 0%, #37ce8f 100%);
}

.is-light-mode {
    --gray: #5f616d;
    --cardGray: #f0f3fa;
    --lightGray: #f8f9fe;
    --cardTitle: #6f717e;
    --baseBackground: white;
    --baseColor: #1d2029;
    --switchSpinner: white;
    --switch: #5f616d;
}

@media screen and (min-width: 480px) {
    .grid {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 25px;
    }
    .wrapper {
        max-width: 1440px;
        margin: auto;
    }
}

@media screen and (min-width: 768px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1024px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .header__total {
        border: none;
    }
    .header__grid {
        display: grid;
        grid-template-columns: 1fr 150px;
    }

}

@media (prefers-color-scheme: dark) {
    :root {
        --cardGray: #252b43;
        --baseBackground: #1d2029;
        --baseColor: white;
        --gray: #8088ad;
        --lightGray: #1d2029;
        --cardTitle: #8088ad;
        --switchSpinner: #282943;
        --switch: linear-gradient(to right, #4796d2 0%, #37ce8f 100%);
    }
}